/***********************************************************************************  GENREAL   */
body{
    font-family: "Helvetica"!important;
}

.justify-content-center{
	text-align: center;
	margin: auto;
}

.btn{
	border-radius:0px !important;
}

.btn-light, .btn-dark{
    text-transform: uppercase;
    font-weight: bold;
	font-size: 10px !important;
    padding: 0px 20px !important;
	height: 30px !important;
    line-height: 15px !important;
}

.btn-light{
    color:black;
	border-color: #E2D5C5;
    background-color: #E2D5C5;
	margin-bottom: 40px;

}

.btn-light:hover{
    background-color: #C7B4A6;
	border-color:  #C7B4A6;
}

.btn-dark:hover{
    background-color: black;
	border-color:  black;
}

/***********************************************************************************  MENU NAV   */

.black-brd-btm{ border-bottom: 2px solid black; }

.navbar-nav .active{ border-bottom: 2px solid black; }

.black-brd-tp{ border-top: 2px solid black;}

.black-brd-lft{ border-left: 2px solid black;
}

/***********************************************************************************  FOOTER   */
.footer{ border-top: 2px solid black;}

.bg-brown-1{ background-color: #ECE9E4;}

.bg-brown-2{  background-color: #E2D5C5;}

.bg-brown-3{ background-color: #C7B4A6;}


/***********************************************************************************  HOME   */
.carousel-item .carousel-caption{
    bottom: 40%;
    background: black;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0.7;
}

.carousel-item .carousel-caption span{
    background-color:white;
    color:black;
    padding: 5px;
    font-weight: 600;
}

.carousel-item .carousel-caption h5 {
    font-size: 3em;
    font-weight: 600;
    padding-top: 5px;
}

.carousel-item .carousel-caption p{ font-size: 2em; }

/*
.carousel-control-next, .carousel-control-prev{ width:37%; }
.carousel-control-next{ justify-content: left;}
.carousel-control-prev{ justify-content: right;}
*/

.carousel-control-next, .carousel-control-prev{ width:50%; }

.carousel-control-prev-icon, .carousel-control-next-icon{ margin-top: -100px !important;}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background: none;
    font-size: 40px;
}

/***********************************************************************************  ATELIER   */

.atelier{
	display: flex;
	padding-top: 20px;
}

.atelier-name{
    font-size: 2em;
    font-weight: bold;
}

.atelier-baseline{
    font-size: 1.5em;
}

div.lg-atelier-text{ width: 100%;}

p.atelier-text{
	text-align: left !important;
	margin: auto;
}

.signature{
	float: right !important;
	padding-right: 60%;
}


/***********************************************************************************  SHOP */

.card-deck{margin-bottom: 50px;}

.card-prix{
    font-size: 1rem;
    font-weight: bold;
}

.card-title{
	font-weight: bold; 
    font-size: 2rem;
}

.card-prix{
	font-weight: bold; 
    font-size: 1.6rem;
	padding-bottom: 10px;
}


.card{
	border:none !important;
	padding:15px;
	text-align:center;

}

.shop-name{
    font-size: 2rem;
    font-weight: bold;
	margin-bottom: 20px;
}

.portfolio-menu{text-align:center;}

.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	width : 185px !important;
	color:black;
	border-color: #E2D5C5 !important;
    background-color: white !important;
	margin-bottom: 40px;
	text-transform: uppercase;
    font-weight: bold;
	font-size: 12px !important;
    padding: 5px 20px !important;
	height: auto !important;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}


 .portfolio-menu .btn:hover {
    background-color: #E2D5C5 !important;
	border-color:  #E2D5C5 !important ;
}

.portfolio-menu .active {
    background-color: #E2D5C5 !important;
	border-color:  #E2D5C5 !important ;
}

.portfolio-item .item{
	float:left;
	margin-bottom:10px;
}


/***********************************************************************************  INSTRU */
.mx-6{
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.mx-7{
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}


#shop{ min-height: 65vh;}

.prix{
    font-size: 2em;
    font-weight: bold;
}

h5.guitar-name{
    font-size: 2em;
    font-weight: bold;
}

h5.carac{ font-weight: bold; }

.carac-name{ font-weight:bold; }

.ligne-page-instru{ margin: auto;}





/***********************************************************************************  CUSTOM */

.img-filtre {
	width: 65px;
	height: auto;
}

.custom{
	display: flex;
	padding-top: 20px;
}

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu div.list-group{ margin-bottom: 0;}

div.bhoechie-tab-menu div.list-group>a{ margin-bottom: 0;}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa { color: #000; }

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: white;
  background-image: #5A55A3;
  color: #000;
}


div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ECE9E4;
	transform: rotate(180deg);
    margin-left: 24px;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  padding-left: 20px;
}

div.modele{ padding-top: 10px;}
div.bois{ padding-top: 50px;}
div.corde{ padding-top: 150px;}


div.bhoechie-tab div.bhoechie-tab-content:not(.active){ display: none;}

div.bhoechie-tab-menu, div.bhoechie-tab-container{ display: inline-flex;}
   
.image-custom{width: 700px; height: auto; margin: auto;}

.bhoechie-tab-container a {color:black !important;}

.list-group-item{
	border:none !important; 
	padding:5px !important;
}
.list-group-item span{
	font-size: 12px;
    font-weight: 100;
	margin-top:5px !important;
	text-transform: uppercase;
}



/****  bouton radio custom */
.inputGroup {
  background-color: #ECE9E4;
  display: block;
  margin: 10px 0;
  position: relative;
}

.inputGroup:hover {
  background-color: #E2D5C5;
}

.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
    font-size: 12px;
    text-transform: uppercase;
	line-height: 14px;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #E2D5C5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "); /*L'image check*/
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label:before { /*effet rectangle check*/
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after { /*couleur bouton check*/
  background-color: #C7B4A6;
  border-color: white;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;/*
  transform: translateY(-50%);*/
  cursor: pointer;
  visibility: hidden;
}
.form-custom{
	padding: 0;
	max-width: 550px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	background-color: #ECE9E4;
}






/***********************************************************************************  CONTACT */
.contact-name{
    font-size: 2em;
    font-weight: bold;
}

.contact-text{
	margin: auto;
	width: 100%;
}

.contact{
	display: flex;
	padding-top: 40px;
}

.form {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.form .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}

.check{
	padding-top: 20px;
	margin-bottom: 0px !important;
}

label.objet{bottom:55px !important;}

.checkbox {
	display: block;
	margin-bottom: 15px;
}

.checkbox input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.checkbox label {
	position: relative;
	cursor: pointer;
	padding-right: 20px;
}

.checkbox label:before {
	content:'';
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid black;
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.checkbox input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 9px;
	width: 6px;
	height: 14px;
	border: solid black;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}


.label-message{ top: 1px;}
